<div class="bill-container w-sm-100 w-75">
  <div
    *ngIf="isReady"
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    style="margin-bottom: 5%"
  >
    <div class="row">
      <div
        class="col-xs-5 col-sm-5 col-md-5 col-lg-5 start-xs start-sm start-md start-lg"
      >
        <h1 class="font-blue mb-0">Factura</h1>
        <p class="text-black">#{{ billId }}</p>
      </div>
      <div
        class="col-xs-7 col-sm-7 col-md-7 col-lg-7 end-xs end-sm end-md end-lg"
      >
        <p class="text-black">{{ bill.fecha_emision }}</p>
        <app-status-box
          [status]="bill.status"
          [statusDetail]="bill.get_status_display"
          [isSmall]="true"
          style="height: 32%"
        ></app-status-box>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg"
      style="padding: 0"
    >
      <!-- table -->
      <div class="table-responsive">
        <table id="bills-table" class="w-sm-140 w-100">
          <thead>
          <tr>
            <th class="text-left text-black">Descripción</th>
            <th class="text-right text-black">Total Dólar</th>
            <th class="text-right text-black">Total Bs.</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of billDetails">
            <td class="text-left border-right text-gray" *ngIf="!item.descuento">
              {{ item.concepto }}
            </td>
            <td class="border-right text-right text-gray" *ngIf="!item.descuento">
              {{ item.total }} USD
            </td>
            <td class="text-end text-gray text-right" *ngIf="!item.descuento">{{ item.total_bs }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- table -->
    </div>

    <div class="row mt-5">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <b>Sub Total:</b>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-gray">{{bill.subtotal}} USD / {{bill.subtotal_bs}}</p>
          </div>
        </div>
        <div class="row" *ngIf="bill.monto_descuento > 0">
          <div class="col-md-4 col-xs-12">
            <b><span>Descunto( {{discount.monto_concepto}}%)</span>:</b>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-gray">{{bill.monto_descuento}} USD / {{bill.monto_descuento_bs}}</p>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4 col-xs-12">
            <b><span>I.V.A ( {{bill.iva}}%)</span>:</b>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-gray">{{bill.monto_iva}} USD / {{bill.monto_iva_bs}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <b>Total a Pagar:</b>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-gray">{{bill.total}} USD / {{bill.total_bs}}</p>
          </div>
        </div>

      </div>
    </div>
    <div class="row mt-5 center-xs">
      <div class="col-md-3 col-xs-6">
        {{ bill.total }} USD
        <div *ngIf="bill.status == 'G' || bill.status == 'V' " (click)="payBill('USD')" class="pay-button">
          <p>Pagar en USD</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        {{ bill.total_bs }}
        <div *ngIf="bill.status == 'G' || bill.status == 'V' " (click)="payBill('Bs')" class="pay-button">
          <p>Pagar en Bs</p>
        </div>
      </div>
    </div>

    <div class="row mt-5 center-xs" *ngIf="bill.status == 'V'">
      <div class="text-blue text-uppercase download-bill payment-commitment trebuchetbold"
          (click)="showPaymentCommitmentModal()">
        Hacer compromiso de pago
      </div>
    </div>

    <div class="row mt-5 center-xs">
      <a
        class="text-blue download-bill text-uppercase trebuchetbold"
        href="{{ domain }}/admon/factura/pdf/{{ bill.id }}/"
        target="_blank"
        download
      >
        Descargar factura
        <img
          src="../../../../../assets/images/Icon-feather-download.svg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
