<div class="bill-container">
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    style="margin-bottom: 5%"
  >
    <div class="row">
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 start-xs start-sm start-md start-lg"
      >
        <h1 class="font-blue">Factura</h1>
        <p>#{{ billId }}</p>
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 end-xs end-sm end-md end-lg"
      >
        <p>date</p>
        <app-status-box
          [status]="'test'"
          [statusDetail]="'test'"
          [isSmall]="true"
          style="height: 32%"
        ></app-status-box>
      </div>
    </div>
    <div class="row" style="margin-bottom: 5%">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg"
      >
        <!-- table -->
        <table id="bills-table">
          <tr>
            <th class="text-start">Descripción</th>
            <th class="text-end">Total Dólar ($)</th>
            <th class="text-end">Total Bs.</th>
          </tr>
          <tr>
            <td class="text-start border-right">Berglunds snabbköp</td>
            <td class="border-right text-end {">Christina Berglund</td>
            <td class="text-end">Sweden</td>
          </tr>
          <tr>
            <td class="text-start border-right">Berglunds snabbköp</td>
            <td class="border-right text-end {">Christina Berglund</td>
            <td class="text-end">Sweden</td>
          </tr>
          <!-- <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Königlich Essen</td>
            <td>Philip Cramer</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
          </tr>
          <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
          </tr>
          <tr>
            <td>North/South</td>
            <td>Simon Crowther</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Paris spécialités</td>
            <td>Marie Bertrand</td>
            <td>France</td>
          </tr> -->
        </table>
        <!-- table -->
      </div>
    </div>
  </div>
</div>
