.bill-container {
  width: 70%;
  margin: auto;
  margin-top: 8%;
}
#bills-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  width: 100%;
}

#bills-table td,
#bills-table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#bills-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;

  color: black;
}
.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end;
}

.border-right {
  border-right: 1px solid #ddd;
}
.text-black {
  color: #0c0c0c;
}
.text-blue {
  color: #005fab !important;
}
.text-gray {
  color: #828282 !important;
}
.border-none {
  border: none !important;
}
.pay-button {
  margin: auto;
  width: 121px;
  height: 30px;
  border: 1px solid var(--unnamed-color-005fab);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #005fab;
  border-radius: 24px;
  opacity: 1;
  cursor: pointer;
  p {
    margin-top: 3px;
    color: #005fab;
  }
}
.download-bill {
  cursor: pointer;
}
.payment-commitment{
  cursor: pointer;
}
