<div class="container" style="margin-top: 10%">
  <div class="row">
    <div class="col-md-12 center-md mt-20">
      <h1 class="font-blue">Cambio de Plan</h1>
    </div>
    <div class="col-md-12 center-md" style="margin-top: 4%">
      <h1 class="font-blue">PLAN</h1>
      <h1
        class="font-blue"
        style="
          margin-top: -4px;
          font-size: 2em;
          margin-top: -1%;
          font-size: 4em;
        "
      >
        {{ plan.plan }}
      </h1>
    </div>
    <div class="col-md-12">
      <div class="row w-100 element-container"></div>
    </div>
    <div class="col-md-12 center-md">
      <button
        mat-button
        mat-raised-button
        color="primary"
        [disabled]="isLoading"
        (click)="comfirm()"
      >
        Confirmar Solicitud
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
