<div class="container" style="margin-top: 10%">
  <div class="row">
    <div class="col-md-12 center-md mt-20">
      <h1 class="font-blue">Cambio de Plan</h1>
    </div>
    <div class="col-md-12 center-md" style="margin-top: 2%">
      <h1 class="font-blue">PLAN</h1>
      <h1
        class="font-blue"
        style="
          margin-top: -4px;
          font-size: 2em;
          margin-top: -1%;
          font-size: 4em;
        "
      >
        {{ plan.plan }}
      </h1>
    </div>
    <div class="col-md-12">
      <div class="row w-100 element-container">
        <div class="arrows-container">
          <div class="arrow-container">
            <img src="../../../../../assets/images/arrow_up.svg" alt="" />
            <p>{{ plan.velocidad_subida }} MB</p>
          </div>

          <div class="arrow-container">
            <img src="../../../../../assets/images/arrow_down.svg" alt="" />
            <p>{{ plan.velocidad_bajada }} MB</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 center-md">
      <h4 class="mb-0" style="color: #005fab; text-transform: uppercase">
        total a pagar
      </h4>
      <h3 class="mb-0">{{ plan.precio }}</h3>
      <h3>{{ plan.precio_bs }}</h3>
    </div>

    <div class="col-md-12 center-md">
      <h4 class="mb-0" style="color: #005fab; text-transform: uppercase">
        Fecha de pago
      </h4>
      <h3>{{ dateFormated }}</h3>
    </div>

    <div class="col-md-12 center-md">
      <button
        mat-button
        mat-raised-button
        color="primary"
        [disabled]="isLoading"
        (click)="comfirm()"
      >
        Confirmar Solicitud
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
