<div class="home-item-container">
  <div
    *ngIf="mustShow"
    class="home-item-header"
    style="background: #f9f9f9 0% 0% no-repeat padding-box; opacity: 1"
  >
    <h4 class="home-sub-title">MIS FACTURAS</h4>
  </div>

  <div class="bills-container">
    <app-bill-item-box
      *ngFor="let bill of bills; let i = index"
      [id]="bill.id"
      [index]="i"
      [date]="bill.date"
      [status]="bill.status"
      [bolivar]="bill.bolivar"
      [dolar]="bill.dolar"
      [isSmall]="isSmall"
    >
    </app-bill-item-box>

    <div *ngIf="bills.length == 0" class="center-lg text-center">
      <h3>Sin items</h3>
    </div>
  </div>
</div>
