<div class="home-item-container">
  <div
    class="home-item-header"
    style="background: #f9f9f9 0% 0% no-repeat padding-box; opacity: 1"
  >
    <div class="home-item-header-title" style="color: #005fab">
      <h4 class="home-sub-title">MIS FACTURAS</h4>
    </div>
  </div>

  <div class="tickets-container">
    <app-ticket-item-box
      *ngFor="let bill of bills"
      [id]="bill.id"
      [subject]="bill.asunto"
      [status]="bill.status"
      [date]="bill.date"
    ></app-ticket-item-box>

    <app-bill-item-box
      *ngFor="let bill of bills"
      [id]="bill.id"
      [date]="bill.date"
      [status]="bill.status"
      [bolivar]="bill.bolivar"
      [dolar]="bill.dolar"
    >
    </app-bill-item-box>
  </div>
</div>
