#plans {
    height: 300px;
    background: linear-gradient(191deg, rgba(0,98,174,1) 35%, rgba(15,151,226,1) 100%);
    margin-top: 10rem;
  padding: 3rem;
}


h1  {
  font-size: 3.4rem;
}

.box-plan {
  background: #FFFFFF padding-box;
  box-shadow: 0px 14px 30px #459EFF33;
  border-radius: 25px;
}

#container-plans {
  margin-top: -5rem;
}
