<section id = "plans">
    <div class="container-fluid">
      <h1 class="trebuchetregular text-center font-white mt-5">Regístrate hoy</h1>
      <p class="font-light font-white text-center mt-4">para disfrutar la mejor experiencia en tecnología de Internet.</p>
    </div>
</section>
<section id="container-plans" class="container-fluid">
  <div class="row center-lg">
    <div class="col-md-3 text-center box-plan p-5" style="height: 350px">
      <h3 class="trebuchetregular" style="font-size: 2rem;">PLAN</h3>
      <h3  class="font-bold mt-5 mb-5 font-blue" style="font-size: 4rem;">4</h3>
      <h3  class="trebuchetbold  font-gray" style="font-size: 3.4rem;">MEGAS</h3>
      <button mat-raised-button class="mt-5 bg-blue">Contratar ahora</button>
    </div>
    <div class="col-md-3 text-center box-plan p-5" style="height: 450px; margin-top: -3rem; background: linear-gradient(191deg, rgba(0,98,174,1) 35%, rgba(15,151,226,1) 100%);">
      <h3 class="trebuchetregular font-white pt-5" style="font-size: 2rem;">PLAN</h3>
      <h3  class="font-bold mt-5 mb-5 font-white" style="font-size: 4rem;">8</h3>
      <h3  class="trebuchetbold  font-white" style="font-size: 3.4rem;">MEGAS</h3>
      <button mat-raised-button class="mt-5 bg-white font-blue">Contratar ahora</button>
    </div>
    <div class="col-md-3 text-center box-plan p-5" style="height: 350px">
      <h3 class="trebuchetregular" style="font-size: 2rem;">PLAN</h3>
      <h3  class="font-bold mt-5 mb-5 font-blue" style="font-size: 4rem;">10</h3>
      <h3  class="trebuchetbold  font-gray" style="font-size: 3.4rem;">MEGAS</h3>
      <button mat-raised-button class="mt-5 bg-blue">Contratar ahora</button>
    </div>
  </div>
</section>
