<div class="container" style="height: 100%; margin-top: 3%">
  <form [formGroup]="myForm">
    <div class="row main-row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
        style="margin-bottom: 5%"
      >
        <div class="row">
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg"
          >
            <h1 class="font-blue">Declarar Pago</h1>
          </div>
        </div>
        <div class="row">
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg"
          >
            <app-payment-type-item
              *ngIf="selectedPayment.isValid"
              (click)="showSelectPaymentModal()"
              [id]="selectedPayment.id"
              [name]="selectedPayment.name"
              [icon]="selectedPayment.icon"
            ></app-payment-type-item>
          </div>
        </div>
      </div>

      <!-- comprobante -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 avatar-container">
        <div class="row">
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg"
          >
            <mat-label>Datos del Beneficiario</mat-label>
            <br />
            <mat-label class="email">{{ cliente.correo }}</mat-label>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg mt-3"
          >
            <input
              style="display: none"
              formControlName="comprobante"
              type="file"
              (change)="onFileChanged($event)"
              #fileInput
            />
            <button
              type="button"
              mat-button
              mat-raised-button
              color="primary"
              style="margin-top: 4%"
              (click)="fileInput.click()"
            >
              Adjuntar Comprobante de Pago
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg mt-6"
            style="height: 100px"
          >
            <div class="row" style="padding-top: 8%" *ngIf="fileComprobante">
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg mt-6"
                style="height: 100px"
              >
                {{ fileComprobante.name }}
                <mat-icon (click)="deleteFile()">delete_forever</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- inputs -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg"
          >
            <mat-form-field style="width: 300px">
              <mat-label>Nº de referencia</mat-label>
              <input
                matInput
                formControlName="referencia"
                placeholder="Nº de referencia"
                required
              />
            </mat-form-field>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg"
          >
            <mat-form-field style="width: 300px">
              <mat-label>Fecha</mat-label>
              <input
                matInput
                formControlName="fecha"
                placeholder="Cedula"
                required
              />
            </mat-form-field>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-12 center-xs start-sm start-md start-lg"
          >
            <mat-form-field style="width: 300px">
              <mat-label>monto que se pago</mat-label>
              <input
                matInput
                formControlName="monto"
                placeholder="monto que se pago"
                type="text"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg"
        style="margin-top: 3%"
      >
        <button
          (click)="enviar()"
          [disabled]="isLoading"
          mat-button
          mat-raised-button
          color="primary"
          style="margin-top: 4%"
          class="my-button green-button"
          [class.spinner]="isLoading"
        >
          Finalizar pago
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
