<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav custom-nav-bar"
    fixedInViewport
    color="primary"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="logo-container">
      <img
        width="140"
        src="../../../../../assets/images/logo_white.svg"
        alt=""
      />
    </div>
    <mat-nav-list>
      <div class="menu-item-container">
        <div class="menu-item">
          <img
            class="menu-item-icon"
            width="30"
            src="../../../../../assets/images/empresarial.svg"
            alt=""
          />
          <p class="menu-item-text">Escritorio</p>
        </div>
      </div>
      <div class="line-divider">
        <!-- <hr> -->
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="tool-bar">
      <div class="hamburguer-container">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div class="profile-container">
        <p
          style="margin-top: 4%; margin-right: 6%; font-size: 0.7em !important"
        >
          {{ user.name }}
        </p>
        <img src="{{ user.pic }}" class="mini-avatar" alt="" />
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
