<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav custom-nav-bar"
    fixedInViewport
    color="primary"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="logo-container">
      <img
        width="140"
        src="../../../../../assets/images/icon_white_test.svg"
        alt=""
      />
    </div>
    <mat-nav-list class="nav-list">
      <app-nav-bar-link
        [routerLink]="'/panel'"
        [icon]="'icono_dashboard'"
        [name]="'Escritorio'"
      ></app-nav-bar-link>

      <div class="line-divider"></div>
      <app-nav-bar-link
        [routerLink]="'/panel/change-plan'"
        [icon]="'cambio_de_plan'"
        [name]="'Cambiar Plan'"
      ></app-nav-bar-link>
      <app-nav-bar-link
        [routerLink]="'/panel/bills'"
        [icon]="'facturacion'"
        [name]="'Facturacion'"
      ></app-nav-bar-link>

      <app-nav-bar-link
        [routerLink]="'/panel/create-ticket'"
        [icon]="'asistencia_tecnica'"
        [name]="'Asistencia Tecnica'"
      ></app-nav-bar-link>

      <div class="line-divider"></div>
      <app-nav-bar-link
        [routerLink]="'/panel/profile'"
        [icon]="'icono_perfil'"
        [name]="'Mi Perfil'"
      ></app-nav-bar-link>

      <app-nav-bar-link
        [name]="'Salir'"
        [icon]="'cerrar_sesion'"
        [iconPosition]="'right'"
        style="margin-top: 40%"
        (click)="logout()"
      ></app-nav-bar-link>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="tool-bar">
      <div class="hamburguer-container">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div class="profile-container">
        <p
          style="margin-top: 4%; margin-right: 6%; font-size: 0.7em !important"
        >
          {{ cliente.nombre }}
        </p>
        <img src="{{ avatar }}" class="mini-avatar" alt="" />
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
