.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.custom-nav-bar {
  background: transparent
    linear-gradient(160deg, #52c0f2 0%, #0090df 35%, #005fab 100%) 0% 0%
    no-repeat padding-box;

  .logo-container {
    text-align: center;
    margin-top: 16%;
    margin-bottom: 30%;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
}
.tool-bar {
  background: #fff !important;
  display: flex;
  justify-content: space-between;
  .profile-container {
    display: flex;
  }
  .mini-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.line-divider {
  border-bottom: 1px solid gray;
  margin-top: 12%;
  margin-bottom: 15%;
  width: 90%;
}
