.menu {
  padding: 0;
  margin: 0;
}

.menu > li {
  padding: 10px 20px;
  display: inline-block;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  position: fixed;
  height: 320px;
}
