<section class="container-fluid d-sm-none">
  <section class="row">
    <div class="col-md-6 col-xs-6">
      <div  class="row">
        <div class="col-md-4 cursor-pointer" routerLink="/" [ngxScrollTo]="'presentation'">
          <img src="../../../../../assets/images/logo.svg" style="max-width: 100%">
        </div>
        <div class="col-md-auto">
          <ul class = "menu">
            <li class="p-2">
              <button mat-button class="font-regular" [ngxScrollTo]="'plans'">Planes</button>
            </li>
            <li class="p-2">
              <button mat-button class="font-regular" [ngxScrollTo]="'infoCompany'">Nosotros</button>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 mt-3">
        <div class="col-md-4 float-right mr-md-5">
          <button mat-raised-button class="font-blue bg-white" (click)="showLodingModal()">
            Soy Cliente
            <mat-icon>person_pin</mat-icon>
          </button>
        </div>
    </div>
  </section>
</section>

<div class="p-2">
  <div class="row bg-white d-lg-none">
    <div class="col-xs-7">
      <img src="../../../../../assets/images/logo.svg" style="max-width: 100%">
    </div>
    <div class="col-xs-5">
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav pt-2 pb-2" mode="side">
    <ul class = "menu">
      <li class="p-0">
        <button mat-button class="font-regular" [ngxScrollTo]="'plans'">Planes</button>
      </li>
      <li class="p-1">
        <button mat-button class="font-regular" [ngxScrollTo]="'infoCompany'">Nosotros</button>
      </li>
      <li class="p-1">
        <button mat-raised-button class="font-blue bg-white" (click)="showLodingModal()" (click)="drawer.toggle()">
          Soy Cliente
          <mat-icon>person_pin</mat-icon>
        </button>
      </li>
    </ul>
  </mat-drawer>

</mat-drawer-container>
