<section class="container-fluid">
  <section class="row">
    <div class="col-md-6">
      <div  class="row">
        <div class="col-md-4 cursor-pointer" routerLink="/">
          <img src="../../../../../assets/images/logo.svg" style="max-width: 100%">
        </div>
        <div class="col-md-auto">
          <ul class = "menu">
            <li>
              <button mat-button class="font-regular">Planes</button>
            </li>
            <li>
              <button mat-button class="font-regular">Nosotros</button>
            </li>
            <li>
              <button mat-button class="font-regular">Contacto</button>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="col-md-4 float-right mr-md-5">
          <button mat-raised-button class="font-blue bg-white" (click)="showLodingModal()">
            Soy Cliente
            <mat-icon>person_pin</mat-icon>
          </button>
        </div>
    </div>
  </section>
</section>
