.menu {
  padding: 0;
  margin: 0;
}

.menu > li {
  display: inline-block;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  border: 1px solid #ccc;
  top: 52px;
  position: fixed;
  height: 62px;
}
