<section class="mt-5 container-lg-fluid p-sm-4">
  <div class="row mt-lg-5">
    <div class="col-md-6 mt-lg-5">
      <img src="./assets/images/wifi.svg" class="mt-lg-5" style="max-width: 100%">
    </div>
    <div class="col-md-6 mt-lg-5 pr-md-5">
      <h1 class="trebuchetregular mt-5">Nextline</h1>
      <hr class="mt-lg-5">
      <p class="mt-lg-5">
        Empresa dirigida a la prestación de servicio, y comercialización de productos de telecomunicaciones,
        que permite ofrecer lo mejor del mercado, a nuestros clientes y aliados, iniciando nuestra consolidación
        en la prestación de servicio integrados de Internet. a través de una red de datos escalables,
        basadas primordial mente en tecnología de fibra óptica y equipos inalámbricos de ultima generación.</p>
    </div>
  </div>
</section>
