<div class="plan-container">
  <div class="plan-header">
    <div class="header-title">
      <h4>Mi Plan Actual</h4>
    </div>
  </div>

  <div class="plan-name">
    <h5 style="text-transform: uppercase">Residencial</h5>
  </div>

  <div class="plan-circle-container">
    <div class="white-circle">
      <div class="row white-circle-row">
        <div class="col-md-12">
          <img
            width="50"
            height="50"
            src="../../../../../assets/images/logo_white.svg"
            alt=""
          />
        </div>
        <div class="col-md-12">10MB</div>
        <div class="col-md-12">PLAN</div>
      </div>
    </div>
  </div>

  <div class="plan-speed-container">
    <div class="speed-box">
      <img src="../../../../../assets/images/arrow_up.svg" alt="" />
      <p class="plan-speed-text">2.5 MB</p>
    </div>
    <div class="speed-box">
      <img src="../../../../../assets/images/arrow_down.svg" alt="" />
      <p class="plan-speed-text">10 MB</p>
    </div>
  </div>

  <div class="price-container">
    <div class="date-container">
      <p class="price-text">FECHA DE PAGO</p>
      <p class="price-sub-text" style="margin-top: 5%">04/12/2020</p>
    </div>
    <div class="price-box">
      <p class="price-text">TOTAL A PAGAR</p>
      <p class="price-sub-text">$20</p>
      <p class="price-sub-text">Bs 2.000.000</p>
    </div>
  </div>

  <div class="button-container">
    <button
      [routerLink]="'/panel/change-plan'"
      mat-raised-button
      color="primary"
      class="my-button"
    >
      CAMBIAR PLAN
    </button>
  </div>
</div>
