
.plan-name {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  color: #fff;
  h5 {
    font-size: 1.5em !important;
  }
}
.white-circle {
  flex: 1;
  position: relative;
  width: 100px;
  background: transparent
    linear-gradient(117deg, #52c0f2 0%, #0090df 35%, #005fab 100%) 0% 0%
    no-repeat padding-box;
  border: 8px solid #fff;
  border-radius: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  box-shadow: 2px 4px 6px #52c0f2;

}
.white-circle-row {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.plan-speed-container {
  margin-top: 5%;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.speed-box {
  margin-left: 4%;
  margin-right: 4%;
}
.plan-speed-text {
  color: #fff;
}
.price-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 327px;
  height: 93px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #005fab33;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  opacity: 0.95;
}
.date-container {
  margin-top: 3%;
  display: flex;
  flex: 6;
  flex-direction: column;
  border-right: 1px solid #005fab;
  height: 70px;
  text-align: center;
  p {
    margin-bottom: 1px !important;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.info-solicitation {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #005fab33;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  opacity: 0.95;
}
