<div class="home-item-container">
  <div class="home-item-header">
    <h4>Mi Plan Actual</h4>
  </div>

  <div class="plan-name">
    <h5 style="text-transform: uppercase">
      {{ plan?.tipo_servicio?.servicio }}
    </h5>
  </div>

  <div class="row center-xs center-sm center-md center-lg" *ngIf="!loading">
    <div class="col-xs-4 col-sm-4 col-md-5 white-circle p-lg-4 p-sm-1">
      <h1 class="font-white m-0 font-bold">{{ plan.plan }}</h1>
      <p class="font-white m-0">PLAN</p>
    </div>
  </div>

  <div class="plan-speed-container">
    <div class="speed-box">
      <img src="../../../../../assets/images/arrow_down.svg" alt="" />
      <p class="plan-speed-text">{{ plan.velocidad_bajada }} Mb</p>
    </div>
    <div class="speed-box">
      <img src="../../../../../assets/images/arrow_up.svg" alt="" />
      <p class="plan-speed-text">{{ plan.velocidad_subida }} Mb</p>
    </div>
  </div>

  <div *ngIf="solicitation != null" class="info-solicitation m-3">
    <app-plan-date-box [date]="datePlan" [soicitationStatus]="soicitationStatus"></app-plan-date-box>
  </div>

  <div *ngIf="solicitation == null" class="price-container">
    <div *ngIf="isClient" class="date-container">
      <p class="price-text">FECHA DE PAGO</p>
      <p class="price-sub-text" style="margin-top: 5%">{{ datePlan }}</p>
    </div>
    <app-plan-price-box
      [bsPrice]="plan.precio_bs"
      [$Price]="plan.precio"
      style="flex: 6"
    ></app-plan-price-box>
  </div>

  <div class="button-container">
    <button
      [routerLink]="'/panel/change-plan'"
      mat-raised-button
      color="primary"
      class="my-button"
    >
      CAMBIAR PLAN
    </button>
  </div>
</div>
