<div
  id="id"
  class="col-lg-12 service-item"
  [ngClass]="
    id == selectedServiceId ? 'service-item-selected' : 'service-item'
  "
>
  <div class="img-container">
    <img
      *ngIf="id != selectedServiceId"
      src="../../../../../assets/images/{{ icon }}.svg"
      alt=""
    />
    <img
      *ngIf="id == selectedServiceId"
      src="../../../../../assets/images/{{ icon }}_selected.svg"
      alt=""
    />
  </div>
  <div class="title-container">
    <h2 class="title">{{ name }} {{ id }} {{ selectedServiceId }}</h2>
  </div>
</div>
