.payment-container {
  margin: auto;
  margin-bottom: 2%;
  // width: 621px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #005fab33;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  opacity: 0.95;
  cursor: pointer;
}
