.menu-item-container {
  .menu-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10%;
  }
  .menu-item-icon {
    margin: 0 0 4%;
  }
  .menu-item-text {
    margin-top: 3%;
    margin-left: 4%;
    color: #fff !important;
  }
}
.menu-item-text-right {
  margin: 7% 0 4%;
  color: #fff !important;
}
.menu-item-icon-right {
  margin-top: 3%;
  margin-left: 4%;
}
