<div class="detail-container">
  <div class="title-container">
    <h1 class="ticket-title">Su ticket se a creado con éxito</h1>
    <p class="ticket-sub">
      Un técnico se pondrá en contacto con usted en un plazo de 24 horas.
    </p>
  </div>

  <div class="card-container">
    <div class="ticket-card">
      <div class="card-title">
        <p class="card-title-text">Ticket</p>
      </div>
      <div class="ticket-number">
        <h1 class="ticket-number-text">{{ ticket.id }}</h1>
      </div>
      <div class="ticket-date">
        <p class="ticket-date-text">{{ ticket.fecha_creacion }}</p>
      </div>
      <div class="ticket-subject">
        <h2 class="ticket-subject-text">{{ ticket.get_status_display }}</h2>
      </div>
      <div class="ticket-status">
        <app-status-box
          [status]="ticket.status"
          [statusDetail]="ticket.get_status_display"
          style="justify-content: center"
        ></app-status-box>
      </div>
      <div class="ticket-button">
        <button mat-raised-button color="primary" [routerLink]="['/panel/chat', ticket.id]">
          VER TICKET
          <mat-icon>remove_red_eye </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
