.detail-container {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container {
  display: flex;
  justify-content: center;
}
.ticket-title {
  color: var(--unnamed-color-005fab);
  text-align: center;
  font: normal normal bold 24px/35px Poppins;
  letter-spacing: 1.2px;
  color: #005fab;
  opacity: 1;
}
.ticket-sub {
  text-align: center;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0.24px;
  color: #0c0c0c;
  opacity: 1;
}
.ticket-card {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 327px;
  height: 327px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #005fab33;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
  opacity: 0.95;
}
.card-title-text {
  text-align: center;
  font: normal normal 300 18px/27px Poppins;
  letter-spacing: 0.9px;
  color: #005fab;
  opacity: 1;
}
.ticket-number-text {
  text-align: center;
  font: normal normal bold 59px/89px Poppins;
  letter-spacing: 2.95px;
  color: #005fab;
  opacity: 1;
}
.ticket-date-text {
  text-align: center;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0.24px;
  color: #0c0c0c;
  opacity: 1;
}
.ticket-subject-text {
  text-align: center;
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0.48px;
  color: #0c0c0c;
  opacity: 1;
}
.ticket-button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.ticket-status {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
