<div class="container">
  <div class="row main-container">
    <div class="col-md-3 p-0 plan-container m-2">
      <app-current-plan></app-current-plan>
    </div>
    <div class="col-md-3 p-0 technical-container mt-2 mb-2">
      <app-technical-assitance></app-technical-assitance>
    </div>
    <div class="col-md-3 p-0 bills-container m-2">
      <app-bills></app-bills>
    </div>
    <!--<div class="plan-container">

    </div>
    <div class="technical-container">

    </div>
    <div class="bills-container">

    </div>-->
  </div>
</div>
