<div [ngClass]="isBgWhite ? 'bill-container-white' : 'bill-container-blue'">
  <div class="bill-title-row">
    <div class="bill-title-row-l bill-id">Factura {{ id }}</div>
    <div class="bill-title-row-r bill-asunto bill-status">
      <app-status-box [status]="status" [statusDetail]="statusDetail" [isSmall]="isSmall"></app-status-box>
    </div>
  </div>
  <div class="bill-info-row">
    <div class="bill-title-row-l">{{ dateFormated }}</div>
    <div class="bill-title-row-r bill-asunto">{{ dolar }} / {{ bolivar }}</div>
  </div>
</div>
