<div class="container chat-container">
  <div class="row" style="margin-left: 10%; margin-right: 10%">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1>Nuevo 234234</h1>
      <p>Sin Internet</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left-col">
      <p>12/12/2020</p>
      <app-status-box [status]="'Tecnico Asignado'"></app-status-box>
    </div>

    <div
      *ngIf="isLoading"
      style="display: flex; flex: 1; justify-content: center"
    >
      <mat-spinner></mat-spinner>
    </div>

    <div
      *ngIf="!isLoading"
      #scrollMe
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left-col chat-scroll"
    >
      <app-chat-item
        *ngFor="let chat of chats"
        [userType]="chat.customId == cliente.id"
        [type]="chat.typeMessage"
        [name]="cliente.nombre_razsoc"
        [avatar]="avatar"
        [message]="chat.message"
        [date]="chat.dateMessage"
      ></app-chat-item>
    </div>

    <div
      #scrollMe
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left-col text-box-container"
    >
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea
            tabindex="1"
            [(ngModel)]="msg"
            class="text-box"
            cols="30"
            rows="5"
            placeholder="Escribe tu mensaje ..."
          ></textarea>
        </div>
      </div>

      <div class="row controls-container">
        <input
          style="display: none"
          id="myFile"
          type="file"
          (change)="onFileChanged($event)"
          #fileInput
        />
        <div class="col-xs-10 col-sm-10 col-md-2 col-lg-2 start-xs">
          <h4>Adjuntar archivo</h4>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 start-xs">
          <mat-icon
            *ngIf="!isFileLoading"
            (click)="fileInput.click()"
            aria-label="Subir"
            tabindex="3"
            [class.spinner]="isFileLoading"
            >cloud_upload</mat-icon
          >
          <div *ngIf="isFileLoading">
            <div *ngIf="percentage | async as pct">
              <progress [value]="pct" max="100"></progress>
              {{ pct | number }}%
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 end-xs">
          <button
            tabindex="2"
            (click)="validateSend()"
            [disabled]="isLoading"
            mat-raised-button
            color="accent"
            class="my-button green-button"
            [class.spinner]="isLoading"
          >
            ENVIAR
            <mat-icon style="position: absolute; right: 20px; top: 6px"
              >send</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
