.chat-container {
  margin-top: 5%;
}
.left-col {
  text-align: end;
}
.chat-scroll {
  height: 400px;
  overflow-y: scroll !important;
  overflow-x: hidden;
}
.text-box-container {
  width: 646px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #005fab33;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  opacity: 1;
}
.text-box {
  border: none;
  width: 92%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
.controls-container {
  border-top: 1px solid #dcdcdc;
}
textarea {
  outline: none;resize: none;
}
