.ticket-status {
  background: #52c0f2 0% 0% no-repeat padding-box;
  border-radius: 40px;
  width: 100%;
  text-align: center;
}

.small-size {
  background: #52c0f2 0% 0% no-repeat padding-box;
  border-radius: 40px;
  width: 50%;
  text-align: center;
}
