.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.text-box-admin {
  background: #d7f2ff;
  margin-bottom: 2%;
  border: 1px solid #d7f2ff;
  border-radius: 1%;
}
.text-box-user {
  background: rgb(227, 227, 228);
  border: 1px solid rgb(227, 227, 228);
  border-radius: 1%;
  margin-bottom: 2%;
}
.col-avatar {
  text-align: center;
}
.name {
  color: #005fab !important;
}
.date {
  color: #828282;
  text-align: end;
}
