.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.text-box-admin {
  background: rgb(249, 249, 249);
}
.text-box-user {
  background: rgb(249, 249, 250);
  border: 1px solid gray;
}
.col-avatar {
  text-align: center;
}
.name {
  color: #005fab !important;
}
.date {
  color: #828282;
  text-align: end;
}
