<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-avatar">
    <img *ngIf="userType" class="avatar" src="{{ avatar }}" alt="" />
    <img *ngIf="!userType" class="avatar" src="{{ defaultAvatar }}" alt="" />
  </div>
  <div
    class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-box-admin"
    [ngClass]="{ 'text-box-user': userType }"
  >
    <div class="row" style="padding: 2%">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 start-md">
        <p class="name">{{ name }}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p class="date">{{ date }}</p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p *ngIf="type == 'text'" style="text-align: justify">
          {{ message }}
        </p>
        <img *ngIf="type == 'img'" width="60" src="{{ message }}" alt="" />
      </div>
    </div>
  </div>
</div>
