
@font-face {
  font-family: PoppinsLight;
  src: url("../fonts/PoppinsLight.ttf");
}
@font-face {
  font-family: PoppinsRegular;
  src: url("../fonts/PoppinsRegular.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/PoppinsBold.ttf");
}
@font-face {
  font-family: TrebuchetBold;
  src: url("../fonts/TrebuchetBold.TTF");
}
@font-face {
  font-family: TrebuchetRegular;
  src: url("../fonts/TrebuchetRegular.TTF");
}

.trebuchetbold {
  font-family: TrebuchetBold !important;
}
.trebuchetregular {
  font-family: TrebuchetRegular !important;
}
.font-regular {
  font-family: PoppinsRegular !important;
}
.font-light {
  font-family: PoppinsLight !important;
}
.font-bold {
  font-family: PoppinsBold !important;
}

.bg-blue {
  background-color: #005FAB !important;
}
.bg-white {
  background-color: white;
}

p {
  color: #6D7783;
}

.font-white {
  color: white !important;
}

.font-gray {
  color: #464545;
}

.font-blue {
  color: #005FAB;
}

button, .mat-raised-button {
  border-radius: 20px;
}
.text-center{
  text-align: center !important;
}

.clearfix {
  clear: both;
  display: table;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (max-width: 768px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
