
@font-face {
  font-family: PoppinsLight;
  src: url("../fonts/PoppinsLight.ttf");
}
@font-face {
  font-family: PoppinsRegular;
  src: url("../fonts/PoppinsRegular.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/PoppinsBold.ttf");
}
@font-face {
  font-family: TrebuchetBold;
  src: url("../fonts/TrebuchetBold.TTF");
}
@font-face {
  font-family: TrebuchetRegular;
  src: url("../fonts/TrebuchetRegular.TTF");
}

.trebuchetbold {
  font-family: TrebuchetBold !important;
}
.trebuchetregular {
  font-family: TrebuchetRegular !important;
}
.font-regular {
  font-family: PoppinsRegular !important;
}
.font-light {
  font-family: PoppinsLight !important;
}
.font-bold {
  font-family: PoppinsBold !important;
}

.bg-blue {
  background-color: #005FAB !important;
}
.bg-white {
  background-color: white;
}

p {
  color: #6D7783;
}

.font-white {
  color: white !important;
}

.font-gray {
  color: #464545;
}

.font-blue {
  color: #005FAB;
}

button, .mat-raised-button {
  border-radius: 20px;
}
.text-center{
  text-align: center !important;
}
