.close-button {
  cursor: pointer !important;
}
.div-inputs {
  margin-top: 5%;
  margin-bottom: 5%;
}
.text-reset {
  cursor: pointer;
  color: #005fab;
}
.close-modal {
  position: absolute;
  right: 10px;
}
