<section id="info-app" class="mt-5 p-5">
  <div class="container-fluid -p-5">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h1 class="trebuchetregular mt-5">Descarga nuestra app</h1>
        <p class="font-light font-gray">
          Con nuestra aplicación podrás gestionar tu cuenta de manera fácil, simple y rápido. En momento que
          necesites de:
        </p>
        <ul>
          <li class="font-light font-gray">Atención y/o asesoría técnica</li>
          <li class="font-light font-gray">Consulta y/o pagar tu factura</li>
          <li class="font-light font-gray">Contratar nuestrs planes</li>
        </ul>
        <p class="font-light font-gray">
          Esto y mucho más al alcance de tu mano. Disponible
        </p>
        <div class="row center-lg">
          <div class="col-md-3 m-3">
            <img src="./assets/images/ios.png" style="max-width: 100%">
          </div>
          <div class="col-md-3 m-3">
            <img src="./assets/images/android.png" style="max-width: 100%">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
