
h1 {
  font-size: 3.4rem;
}

@media only screen and (min-width: 75em) {
  #info-app {
    margin-top: 10rem;
    padding: 3rem;
    background: url("../../../../../assets/images/app.svg");
    background-repeat: no-repeat;
  }
}
