<div class="row center-md">
  <div class="col-md-1">
    <div class="row center-md">
      <div class="col-md-5 m-1">
        <a href="" target="_blank">
          <img src="./assets/images/tw.png" style="max-width: 100%">
        </a>
      </div>
      <div class="col-md-5 m-1">
        <a href="https://instagram.com/nextline.ve?igshid=1di8eilplsu0z" target="_blank">
          <img src="./assets/images/ins.png" style="max-width: 100%">
        </a>
      </div>
    </div>
  </div>
</div>
<p class="h6 text-center">
  © 2020 Todos los derechos reservados.
  <a class="ml-2 font-gray" href="/">
    <strong>nextline.com.ve</strong>
  </a>
</p>
<p class="text-center">
  <a class="font-gray" routerLink="/privacy-policies">
    Politicas de privacidad
  </a>
</p>
