<div
  class="col-lg-12 plan-item"
  [ngClass]="id == selectedPlanId ? 'plan-item-selected' : 'plan-item'"
>
  <div class="title-container">
    <h1 class="title">{{ name }}</h1>
  </div>

  <div class="arrows-container">
    <div class="arrow-container">
      <img src="../../../../../assets/images/arrow_up.svg" alt="" />
      <p
        [ngClass]="id == selectedPlanId ? 'speed-item-selected' : 'speed-item'"
      >
        {{ upSpeed }} MB
      </p>
    </div>

    <div class="arrow-container">
      <img src="../../../../../assets/images/arrow_down.svg" alt="" />
      <p
        [ngClass]="id == selectedPlanId ? 'speed-item-selected' : 'speed-item'"
      >
        {{ downSpeed }} MB
      </p>
    </div>
  </div>

  <div class="month-container">
    <p [ngClass]="id == selectedPlanId ? 'speed-item-selected' : 'speed-item'">
      Precio Mes
    </p>
  </div>

  <div
    class="price-container"
    style="
      width: 100% !important;
      background: none;
      box-shadow: none;
      border: none;
    "
  >
    <div [ngClass]="id == selectedPlanId ? 'price-selected' : 'price'">
      <div class="row prices">
        <p
          [ngClass]="
            id == selectedPlanId ? 'value-item-selected' : 'value-item'
          "
        >
          {{ dolarPrice }} /
        </p>
        <small
          style="margin-left: 2%"
          [ngClass]="
            id == selectedPlanId ? 'value-item-selected' : 'value-item'
          "
        >
          {{ bolivarPrice }}</small
        >
      </div>
    </div>
  </div>
</div>
