<div class="container">
  <div class="row title-container">
    <div class="new-ticket">
      <p class="ticket-text">Nuevo Ticket</p>
    </div>
    <div class="ticket-date">
      <p class="ticket-date">{{ dateNow }}</p>
    </div>
  </div>

  <div class="row title-container" style="margin-top: 10%;">
    <div class="ticket-category">
      <mat-form-field appearance="fill">
        <mat-label>TIPO DE AVERIA</mat-label>
        <mat-select formControl="categories" multiple>
          <mat-select-trigger> </mat-select-trigger>
          <mat-option
            *ngFor="let subject of ticketsCategories"
            [value]="subject"
            >{{ subject }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row title-container" style="margin-top: 2%;">
    <div class="ticket-coment" style="width: 100%">
      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>COMENTARIO</mat-label>
        <textarea
          formControl="coment"
          matInput
          rows="5"
          cols="40"
          placeholder="Explique en breves palabras el problema de su avería, y un técnico se pondrá en contacto con usted en un plazo de 24 horas."
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row title-container button-container">
    <div class="button-container">
      <button
        (click)="enviar()"
        [disabled]="isLoading"
        mat-raised-button
        color="accent"
        class="my-button green-button"
      >
        ENVIAR
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
