h1  {
  font-size: 2.7rem;
}
.box-service {
  box-shadow: 0px 14px 30px #459EFF33;
  border-radius: 25px;
  height: 180px;
  
}

.box-service:hover {
  background: linear-gradient(191deg, rgba(0,98,174,1) 35%, rgba(15,151,226,1) 100%);
}

.box-service:hover h3 {
  color: white;
}
.box-service:hover img {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

#service-1{
  margin-top: -10px !important;
}