<div class="container">
  <mat-horizontal-stepper
    linear
    #stepper
    (selectionChange)="onStepChange($event)"
  >
    <mat-step [stepControl]="serviceFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Selecciona el servicio</ng-template>
      <div class="row w-100">
        <app-services
          [name]="item.servicio"
          (click)="setService(item.id)"
          *ngFor="let item of services"
        ></app-services>
      </div>
      <div class="row center-lg">
        <div class="col-lg-4">
          <button mat-button (click)="validateSelectedService()">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="plansFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Selecciona el plan</ng-template>
      <div class="row">
        <div *ngIf="plans.length == 0">
          <p>No existen planes aun para este tipo de servicio</p>
        </div>
        <div class="row w-100">
          <app-plans
            [name]="item.plan"
            *ngFor="let item of plans"
            (click)="setPlan(item.id)"
          ></app-plans>
        </div>
        <div class="row center-lg">
          <div class="col-lg-4">
            <button mat-button (click)="validateSelectedPlan()">Next</button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalDataFormGroup" [editable]="isEditable">
      <form [formGroup]="personalDataFormGroup">
        <ng-template matStepLabel>Ingresa tus datos</ng-template>
        <div class="row">
          <div class="col-lg-6 avatar-container">
            <div
              class="avatar-select"
              (change)="onFileChanged($event)"
              [ngStyle]="{
                'text-align': 'center',
                color: '#fff',
                'background-color': '#EBEBEB',
                'background-image': 'url(' + imageSrc + ')',
                'background-repeat': 'no-repeat',
                'background-size': 'cover'
              }"
            >
              <input
                style="display: none"
                formControlName="avatar"
                type="file"
                (change)="onFileChanged($event)"
                #fileInput
              />
              <mat-icon
                color="primary"
                style="margin-top: 85%; cursor: pointer"
                (click)="fileInput.click()"
                >camera_alt</mat-icon
              >
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <mat-form-field>
                <mat-label>Nombre o Razon social</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nombre"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Cedula o Rif</mat-label>
                <input
                  matInput
                  formControlName="identification"
                  placeholder="Cedula"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Correo</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="Email"
                  type="email"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  placeholder="Celular"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 100%">
                <mat-label>Clave</mat-label>
                <input
                  matInput
                  formControlName="password"
                  placeholder="Clave"
                  type="password"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button
                mat-button
                matStepperNext
                (click)="validatePersonalForm()"
              >
                Siguiente
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel></ng-template>

      <div *ngIf="addressView === 'confirm'">
        <div *ngIf="isLoadingLocation">
          cargando localizacion
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!didAskedLocationFailed && !isLoadingLocation">
          <p>¿Esta usted en el sitio donde se va a instalar el servicios?</p>
          <div class="row">
            <div class="col-lg-4">
              <button
                [disabled]="isLoading"
                mat-raised-button
                color="primary"
                (click)="setAddressView('address')"
              >
                Si
              </button>
              <button
                [disabled]="isLoading"
                mat-raised-button
                color="primary"
                (click)="setAddressView('map')"
              >
                No
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="didAskedLocationFailed">
          <button
            [disabled]="isLoading"
            mat-raised-button
            color="primary"
            (click)="setAddressView('map')"
          >
            Escoje tu direccion desde el mapa
          </button>
        </div>
      </div>

      <div *ngIf="addressView === 'map'">
        <div *ngIf="isLoadingLocation">
          cargando localizacion
          <mat-spinner></mat-spinner>
        </div>
        <div id="map">
          <app-address-map
            [inputLatitude]="currentLocation.latitude"
            [inputLongitude]="currentLocation.longitude"
            (setNewLocation)="setLocation($event)"
          >
          </app-address-map>
        </div>
      </div>

      <div *ngIf="addressView === 'address'">
        <div *ngIf="isLoadingLocation">
          cargando localizacion
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isLoadingLocation">
          <input type="text" [(ngModel)]="myAddress" />
          <button
            [disabled]="isLoading"
            mat-raised-button
            color="primary"
            (click)="requestService()"
          >
            Finalizar Solicitud
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
