<div class="container request-header">
  <!-- <div class="row"> -->
  <div class="col-lg-4 col-md-4 col-xs-4 text-center"></div>
  <div class="col-lg-4 col-md-4 col-xs-4 text-center">
    <img
      width="200px"
      height="90px"
      src="../../../assets/images/logo.svg"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-4 col-xs-4 close-div">
    <p [routerLink]="'/'" class="close">Contratar luego X</p>
  </div>
  <!-- </div> -->
</div>

<div class="container">
  <mat-horizontal-stepper
    class="alternate-theme"
    linear
    #stepper
    (selectionChange)="onStepChange($event)"
  >
    <mat-step [stepControl]="serviceFormGroup" [editable]="isEditable">
      <div class="row center-lg element-container">
        <div class="col-lg-4">
          <h2 class="primary-color">Selecciona el servicio</h2>
          <div class="element-container blue-line"></div>
        </div>
      </div>
      <div class="row w-100 element-container">
        <app-services
          [id]="item.id"
          [name]="item.servicio"
          [selectedServiceId]="selectedService"
          (click)="setService(item.id)"
          *ngFor="let item of services"
        ></app-services>
      </div>
      <div class="row center-lg element-container">
        <div class="col-lg-4 container-button">
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="validateSelectedService()"
          >
            Continuar
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="plansFormGroup" [editable]="isEditable">
      <div class="row center-lg element-container">
        <div *ngIf="plans.length == 0">
          <p>No existen planes aun para este tipo de servicio</p>
        </div>
        <div class="col-lg-4">
          <h2 class="primary-color">Planes de Internet</h2>
          <div class="element-container blue-line"></div>
          <div><small>Selecciona el plan de tu preferencia</small></div>
        </div>
      </div>
      <div class="row w-100 element-container">
        <app-plans
          [id]="item.id"
          [name]="item.plan"
          [dolarPrice]="item.precio"
          [bolivarPrice]="item.precio_bs"
          [downSpeed]="item.velocidad_baja"
          [upSpeed]="item.velocidad_subida"
          [selectedPlanId]="selectedPlan"
          *ngFor="let item of plans"
          (click)="setPlan(item.id)"
        ></app-plans>
      </div>
      <div class="row center-lg element-container">
        <div class="col-lg-4 container-button">
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="validateSelectedPlan()"
          >
            Continuar
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalDataFormGroup" [editable]="isEditable">
      <form [formGroup]="personalDataFormGroup">
        <div class="row">
          <div class="col-lg-6 avatar-container">
            <div
              class="avatar-select"
              (change)="onFileChanged($event)"
              [ngStyle]="{
                'text-align': 'center',
                color: '#fff',
                'background-color': '#EBEBEB',
                'background-image': 'url(' + imageSrc + ')',
                'background-repeat': 'no-repeat',
                'background-size': 'cover'
              }"
            >
              <input
                style="display: none"
                formControlName="avatar"
                type="file"
                (change)="onFileChanged($event)"
                #fileInput
              />
              <mat-icon
                color="primary"
                style="margin-top: 85%; cursor: pointer"
                (click)="fileInput.click()"
                >camera_alt</mat-icon
              >
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <mat-form-field>
                <mat-label>Nombre o Razon social</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nombre"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Cedula o Rif</mat-label>
                <input
                  matInput
                  formControlName="identification"
                  placeholder="Cedula"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Correo</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="Email"
                  type="email"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  placeholder="Celular"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 100%">
                <mat-label>Clave</mat-label>
                <input
                  matInput
                  formControlName="password"
                  placeholder="Clave"
                  type="password"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button
                mat-button
                matStepperNext
                (click)="validatePersonalForm()"
              >
                Siguiente
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel></ng-template>

      <div *ngIf="addressView === 'confirm'">
        <div *ngIf="isLoadingLocation">
          cargando localizacion
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!didAskedLocationFailed && !isLoadingLocation">
          <p>¿Esta usted en el sitio donde se va a instalar el servicios?</p>
          <div class="row">
            <div class="col-lg-4">
              <button
                [disabled]="isLoading"
                mat-raised-button
                color="primary"
                (click)="setAddressView('address')"
              >
                Si
              </button>
              <button
                [disabled]="isLoading"
                mat-raised-button
                color="primary"
                (click)="setAddressView('map')"
              >
                No
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="didAskedLocationFailed">
          <button
            [disabled]="isLoading"
            mat-raised-button
            color="primary"
            (click)="setAddressView('map')"
          >
            Escoje tu direccion desde el mapa
          </button>
        </div>
      </div>

      <div *ngIf="addressView === 'map'">
        <div *ngIf="isLoadingLocation">
          cargando localizacion
          <mat-spinner></mat-spinner>
        </div>
        <div id="map">
          <app-address-map
            [inputLatitude]="currentLocation.latitude"
            [inputLongitude]="currentLocation.longitude"
            (setNewLocation)="setLocation($event)"
          >
          </app-address-map>
        </div>
      </div>

      <div *ngIf="addressView === 'address'">
        <div *ngIf="isLoadingLocation">
          cargando localizacion
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isLoadingLocation">
          <input type="text" [(ngModel)]="myAddress" />
          <button
            [disabled]="isLoading"
            mat-raised-button
            color="primary"
            (click)="requestService()"
          >
            Finalizar Solicitud
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
