<section id="presentation" class="pt-md-5 pb-5">
  <div class="container-fluid container-sm-fluid d- pt-md-5">
    <div class="row">
      <div class="col-md-6 m-md-5">
        <div id="title-presentation" class="m-md-5">
          <h1 class="trebuchetbold text-uppercase mb-4">Conéctate</h1>
          <h1 class="trebuchetbold text-uppercase mb-4">con el internet </h1>
          <h1 class="trebuchetbold text-uppercase mb-4">+ rápido</h1>
          <button mat-flat-button class="mt-5 bg-blue font-white font-regular " routerLink="/service-request">
            Contrata ahora
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>

      </div>
      <div class="col-md-4"></div>
    </div>
    <img src="./assets/images/image.png" width="800px" class="position-absolute"
         style="top: 0; right: 5rem; z-index: 999">
  </div>
</section>
