<section id = "presentation" class="pt-md-5 pb-5">
  <div class="container-fluid pt-md-5">
    <div class="row middle-xs ml-md-5">
      <div class="col-md-6 m-md-5">

            <div id="title-presentation"  class="m-md-5">
              <h1 class="trebuchetbold text-uppercase mb-4">Conéctate</h1>
              <h1 class="trebuchetbold text-uppercase mb-4">con el internet </h1>
              <h1 class="trebuchetbold text-uppercase mb-4">+ rápido</h1>
              <button mat-flat-button class="mt-5 bg-blue  font-regular"  routerLink="/service-request">Contrata ahora</button>
            </div>

      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
