<section id = "plans" class="mt-lg-5 mt-sm-0">
  <div class="container-lg-fluid">
    <h1 class="trebuchetregular text-center mt-5">Regístrate hoy</h1>
    <p class="font-light text-center mt-4" style="text-shadow: -1px 0px 1px white">
      para disfrutar la mejor experiencia en tecnología de Internet.
    </p>
  </div>
</section>
<section id="container-plans" class="container-lg-fluid mb-5 mt-sm-0 mt-lg-5">
  <div class="row center-lg">
    <div class="col-md-3 col-xs-12 text-center box-plan p-5">
      <h3 class="trebuchetregular" style="font-size: 2rem;">PLAN</h3>
      <h3  class="font-bold mt-5 mb-5 font-blue" style="font-size: 4rem;">4</h3>
      <h3  class="trebuchetbold  font-gray" style="font-size: 3.4rem;">MEGAS</h3>
      <button mat-raised-button class="mt-5 bg-blue" routerLink="/service-request">Contratar ahora</button>
    </div>
    <div class="col-md-3 col-xs-12 text-center box-plan p-5 ml-lg-3 mr-lg-3" style=" margin-top: -3rem; ">
      <h3 class="trebuchetregular font-white pt-5" style="font-size: 2rem;">PLAN</h3>
      <h3  class="font-bold mt-5 mb-5 font-white" style="font-size: 4rem;">8</h3>
      <h3  class="trebuchetbold  font-white" style="font-size: 3.4rem;">MEGAS</h3>
      <button mat-raised-button class="mt-5 bg-white font-blue" routerLink="/service-request">Contratar ahora</button>
    </div>
    <div class="col-md-3 col-xs-12 text-center box-plan p-5">
      <h3 class="trebuchetregular" style="font-size: 2rem;">PLAN</h3>
      <h3  class="font-bold mt-5 mb-5 font-blue" style="font-size: 4rem;">10</h3>
      <h3  class="trebuchetbold  font-gray" style="font-size: 3.4rem;">MEGAS</h3>
      <button mat-raised-button class="mt-5 bg-blue" routerLink="/service-request">Contratar ahora</button>
    </div>
  </div>
</section>
