/* You can add global styles to this file, and also import other style files */
@import "assets/css/style.css";
@import "assets/css/style_text.css";
@import "assets/css/flexboxgrid.css";
@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-blue);
$my-app-accent: mat-palette($mat-yellow, 400);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-white: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: PoppinsRegular !important;
}

.position-fixed {
  position: fixed !important;
}
.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.radius-20 {
  border-radius: 20px;
}
.primary-color {
  color: #005fab;
}
app-services {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}
app-plans {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}
.blue-line {
  border: 1px solid #005fab;
  margin: 8%;
}
.my-button {
  width: 200px !important;
}
.green-button {
  background: #52e0a0 !important;
  color: #fff !important;
}
app-nav-bar-link {
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
app-nav-bar-link-divider {
  display: flex;
  justify-content: center;
}
.home-item-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.home-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 104px;
  left: 263px;
  width: 100%;
  height: 85px;
  text-align: center;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  background: transparent
    linear-gradient(117deg, #52c0f2 0%, #0090df 35%, #005fab 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.home-item-header-title {
  align-items: center;
  text-align: center;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.home-sub-title {
  color: #005fab;
  text-align: center;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0.9px;
  color: #005fab;
  text-transform: uppercase;
  opacity: 1;
}
.price-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 327px;
  height: 93px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #005fab33;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  opacity: 0.95;
}
.date-container {
  margin-top: 3%;
  display: flex;
  flex: 6;
  flex-direction: column;
  border-right: 1px solid #005fab;
  height: 70px;
  text-align: center;
  p {
    margin-bottom: 1px !important;
  }
}
.price-box {
  margin-top: 3%;
  flex: 6;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.price-text {
  color: #52c0f2;
  font-size: 0.8em;
  margin-bottom: 3px !important;
}
.price-sub-text {
  color: #005fab;
  font-size: 1.1em;
  margin-bottom: 2px !important;
}
app-ticket-item-box {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5%;
}
app-status-box {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
