/* You can add global styles to this file, and also import other style files */
@import "assets/css/style.css";
@import "assets/css/style_text.css";
@import "assets/css/flexboxgrid.css";
@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-blue);
$my-app-accent: mat-palette($mat-yellow, 400);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-white: mat-palette( $mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: PoppinsRegular !important;
}

.position-fixed {
  position: fixed !important;
}
.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.radius-20 {
  border-radius: 20px;
}
.primary-color {
  color: #005fab;
}
app-services {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}
app-plans {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}
.blue-line {
  border: 1px solid #005fab;
  margin: 8%;
}
.my-button{
  width: 200px !important;
}
.green-button {
  background: #52e0a0 !important;
  color: #fff !important;
}
