<div class="container ticket-container">
  <div class="row ticket-title-row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="ticket-title-row-l ticket-id">{{ id }}</div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <app-status-box
        [statusDetail]="statusDetail"
        [status]="status"
      ></app-status-box>
      <div class="date">
        <small>{{ date }}</small>
      </div>
    </div>
    <div class="ticket-title-row-l">
      <small>{{ subject.slice(0, 40) }}</small>
    </div>
  </div>
</div>
