<div class="container" style="background: white; height: 100%">
  <div class="row">
    <div class="col-md-12 center-md" style="margin-top: 10%">
      <h2 class="font-blue">{{ data.title }}</h2>
    </div>

    <div
      *ngIf="data.subTitle >= ''"
      class="col-md-12 center-md"
      style="margin-top: 2%"
    >
      <h5 class="font-gray">{{ data.subTitle }}</h5>
    </div>

    <div class="col-md-12 center-md" style="margin-top: 3%">
      <img src="../../../../../assets/images/{{ data.icon }}" alt="" />
    </div>

    <div class="col-md-12 center-md" style="margin-top: 3%">
      <button
        [routerLink]="'/panel/home'"
        mat-button
        mat-raised-button
        color="primary"
      >
        VOLVER AL ESCRITORIO
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
